<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  <% include ./partials/header.ejs %>

  <main>

    <p>MESSAGE FOR YOU.</p>
    <p> <%= msg %> </p><br>
    <p> <%= status %> </p><br>
    <p> <%= error %> </p><br>
    <!-- <p><%=  %></p><br> -->

  </main>

  <% include ./partials/footer.ejs %>
</body>
</html>
